#menu {
    border-right: 5px solid #353a40;
    background-image: linear-gradient(#fff, rgba(234, 135, 0, 0.85));
    min-height: 100%;
    height: auto;
    position: absolute;
    z-index: 999;
    padding: 0.5rem 1rem;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 0 0 .5rem .75rem;
}

.nav-link {
    border: none;
    color: #fff;
    padding: 0.6rem 0 !important;
}

.nav-link:hover, .nav-link:focus {
    background-color: #000;
    color: #fff !important;
    font-size: 1.1rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.active {
    background-color: #ea9700 !important;
    color: #000 !important;
    font-size: 1.1rem;
}

/* Dropdown Button */
.dropbtn {
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    font-size: 16px;
    position: relative;
    background-color: rgba(52, 58, 64, 0.7);
    min-width: 160px;
    z-index: 1;
    margin: 0 0.2rem;
    padding-bottom: 0.15rem;
    border-radius: 0.25rem;
}

/* Links inside the dropdown */
.dropdown-content a {
    text-decoration: none;
    display: block;
    background-color: rgba(52, 58, 64, 0.7);
    border-radius: 0;
}

.borderbottom-style {
    border-bottom: 2px solid !important;
    border-image: linear-gradient(to right, rgba(53, 58, 64, 0) 0%, rgb(255, 255, 255) 25%, rgb(255, 255, 255) 75%, rgba(53, 58, 64, 0) 100%) 1 !important;
}

.dropdownline {
    border-bottom: 1px solid !important;
    border-image: linear-gradient(to right, rgba(52, 58, 64, 0) 10%, rgb(255, 255, 255) 45%, rgb(255, 255, 255) 55%, rgba(52, 58, 64, 0) 90%) 1 !important;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.showcontent {
    display: block;
}
